<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.modules.spider.dao.AnalogLoginDao">

    <insert id="insertAnalogLogin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `spider_analog_login`
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                `id`,
            </if>
            <if test="cookie!=null">
                `cookie`,
            </if>
            <if test="handCookie!=null">
                `hand_cookie`,
            </if>
            <if test="host!=null">
                `host`,
            </if>
            <if test="domain!=null">
                `domain`,
            </if>
            <if test="loginButtonXpath!=null">
                `login_button_xpath`,
            </if>
            <if test="isEnable!=null">
                `is_enable`,
            </if>
            <if test="passwordXpath!=null">
                `password_xpath`,
            </if>
            <if test="usernameXpath!=null">
                `username_xpath`,
            </if>
            <if test="verifycodeXpath!=null">
                `verifycode_xpath`,
            </if>
            <if test="password!=null">
                `password`,
            </if>
            <if test="username!=null">
                `username`,
            </if>
            <if test="verifycodeUrl!=null">
                `verifycode_url`,
            </if>
            <if test="targetUrl!=null">
                `target_url`,
            </if>
            <if test="nowUrl!=null">
                `now_url`,
            </if>
            <if test="loginUrl!=null">
                `login_url`,
            </if>
            <if test="verifycodePicXpath!=null">
                `verifycode_pic_xpath`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="cookie!=null">
                #{cookie},
            </if>
            <if test="handCookie!=null">
                #{handCookie},
            </if>
            <if test="host!=null">
                #{host},
            </if>
            <if test="domain!=null">
                #{domain},
            </if>
            <if test="loginButtonXpath!=null">
                #{loginButtonXpath},
            </if>
            <if test="isEnable!=null">
                #{isEnable},
            </if>
            <if test="passwordXpath!=null">
                #{passwordXpath},
            </if>
            <if test="usernameXpath!=null">
                #{usernameXpath},
            </if>
            <if test="verifycodeXpath!=null">
                #{verifycodeXpath},
            </if>
            <if test="password!=null">
                #{password},
            </if>
            <if test="username!=null">
                #{username},
            </if>
            <if test="verifycodeUrl!=null">
                #{verifycodeUrl},
            </if>
            <if test="targetUrl!=null">
                #{targetUrl},
            </if>
            <if test="nowUrl!=null">
                #{nowUrl},
            </if>
            <if test="loginUrl!=null">
                #{loginUrl},
            </if>
            <if test="verifycodePicXpath!=null">
                #{verifycodePicXpath},
            </if>
        </trim>
        )
    </insert>

    <update id="updateAnalogLogin">
        UPDATE `spider_analog_login`
        SET
        <trim suffixOverrides=",">
            <if test="cookie != null and cookie!=''">
                `cookie` = #{cookie},
            </if>
            <if test="handCookie != null and handCookie != ''">
                `hand_cookie` = #{handCookie},
            </if>
            <if test="host != null and host!=''">
                `host` = #{host},
            </if>
            <if test="domain != null and domain!=''">
                `domain` = #{domain},
            </if>
            <if test="loginButtonXpath != null and loginButtonXpath!=''">
                `login_button_xpath` = #{loginButtonXpath},
            </if>
            <if test="isEnable != null">
                `is_enable` = #{isEnable},
            </if>
            <if test="passwordXpath != null and passwordXpath != ''">
                `password_xpath` = #{passwordXpath},
            </if>
            <if test="usernameXpath != null and usernameXpath !=''">
                `username_xpath` = #{usernameXpath},
            </if>
            <if test="verifycodeXpath != null and verifycodeXpath != ''">
                `verifycode_xpath` = #{verifycodeXpath},
            </if>
            <if test="password != null and password!=''">
                `password` = #{password},
            </if>
            <if test="username != null and username!=''">
                `username` = #{username},
            </if>
            <if test="verifycodeUrl != null and verifycodeUrl != ''">
                `verifycode_url` = #{verifycodeUrl},
            </if>
            <if test="targetUrl != null and targetUrl != ''">
                `target_url` = #{targetUrl},
            </if>
            <if test="nowUrl!=null and nowUrl!=''">
                `now_url` = #{nowUrl},
            </if>
            <if test="loginUrl!=null and loginUrl!=''">
                `login_url` = #{loginUrl},
            </if>
            <if test="verifycodePicXpath!=null and verifycodePicXpath!=''">
                `verifycode_pic_xpath` = #{verifycodePicXpath},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            <if test="id != null and id!=''">
                `id` = #{id} and
            </if>
            <if test="host != null and host!=''">
                `host` = #{host} and
            </if>
        </trim>
    </update>

    <!--4个xpath以及验证码图片链接的修改，为空即更-->
    <update id="update">
        UPDATE `spider_analog_login`
        SET
        <trim suffixOverrides=",">
            <if test="cookie != null and cookie!=''">
                `cookie` = #{cookie},
            </if>
            <if test="handCookie != null and handCookie!=''">
                `hand_cookie` = #{handCookie},
            </if>
            <if test="host != null and host!=''">
                `host` = #{host},
            </if>
            <if test="domain != null and domain!=''">
                `domain` = #{domain},
            </if>
            `login_button_xpath` = #{loginButtonXpath},
            <if test="isEnable != null">
                `is_enable` = #{isEnable},
            </if>
            `password_xpath` = #{passwordXpath},
            `username_xpath` = #{usernameXpath},
            `verifycode_xpath` = #{verifycodeXpath},
            <if test="password != null and password!=''">
                `password` = #{password},
            </if>
            <if test="username != null and username!=''">
                `username` = #{username},
            </if>
            `verifycode_url` = #{verifycodeUrl},
            <if test="targetUrl != null and targetUrl != ''">
                `target_url` = #{targetUrl},
            </if>
            <if test="nowUrl!=null and nowUrl!=''">
                `now_url` = #{nowUrl},
            </if>
            <if test="loginUrl!=null and loginUrl!=''">
                `login_url` = #{loginUrl},
            </if>
            <if test="verifycodePicXpath!=null and verifycodePicXpath!=''">
                `verifycode_pic_xpath` = #{verifycodePicXpath},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            <if test="id != null and id!=''">
                `id` = #{id} and
            </if>
            <if test="host != null and host!=''">
                `host` = #{host} and
            </if>
        </trim>
    </update>

    <resultMap type="com.spider.modules.spider.entity.AnalogLoginEntity" id="AnalogLoginMap">
        <result column="id" property="id"/>
        <result column="cookie" property="cookie"/>
        <result column="hand_cookie" property="handCookie"/>
        <result column="host" property="host"/>
        <result column="domain" property="domain"/>
        <result column="login_button_xpath" property="loginButtonXpath"/>
        <result column="is_enable" property="isEnable"/>
        <result column="password_xpath" property="passwordXpath"/>
        <result column="username_xpath" property="usernameXpath"/>
        <result column="verifycode_xpath" property="verifycodeXpath"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="verifycode_url" property="verifycodeUrl"/>
        <result column="target_url" property="targetUrl"/>
        <result column="now_url" property="nowUrl"/>
        <result column="login_url" property="loginUrl"/>
        <result column="verifycode_pic_xpath" property="verifycodePicXpath"/>
    </resultMap>

    <select id="queryAnalogLogin" resultMap="AnalogLoginMap">
        select
        <include refid="allResult"></include>
        from `spider_analog_login`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="cookie != null and cookie!=''">
                `cookie` = #{cookie} and
            </if>
            <if test="handCookie != null and handCookie != ''">
                `hand_cookie` = #{handCookie} and
            </if>
            <if test="host != null and host!=''">
                `host` = #{host} and
            </if>
            <if test="domain != null and domain!=''">
                `domain` = #{domain} and
            </if>
            <if test="loginButtonXpath != null">
                `login_button_xpath` = #{loginButtonXpath} and
            </if>
            <if test="isEnable != null">
                `is_enable` = #{isEnable} and
            </if>
            <if test="passwordXpath != null and passwordXpath!=''">
                `password_xpath` = #{passwordXpath} and
            </if>
            <if test="usernameXpath != null and usernameXpath!=''">
                `username_xpath` = #{usernameXpath} and
            </if>
            <if test="verifycodeXpath != null and verifycodeXpath!=''">
                `verifycode_xpath` = #{verifycodeXpath} and
            </if>
            <if test="password != null and password!=''">
                `password` = #{password} and
            </if>
            <if test="username != null and username!=''">
                `username` = #{username} and
            </if>
            <if test="verifycodeUrl != null and verifycodeUrl!=''">
                `verifycode_url` = #{verifycodeUrl} and
            </if>
            <if test="targetUrl != null and targetUrl!=''">
                `target_url` = #{targetUrl} and
            </if>
            <if test="nowUrl != null and nowUrl!=''">
                `now_url` = #{nowUrl} and
            </if>
            <if test="loginUrl != null and loginUrl!=''">
                `login_url` = #{loginUrl} and
            </if>
            <if test="verifycodePicXpath != null and verifycodePicXpath!=''">
                `verifycode_pic_xpath` = #{verifycodePicXpath} and
            </if>
        </trim>
    </select>

    <select id="queryAnalogLoginLimit1" resultMap="AnalogLoginMap">
        select
        <include refid="allResult"></include>
        from `spider_analog_login`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="cookie != null and cookie!=''">
                `cookie` = #{cookie} and
            </if>
            <if test="handCookie != null and handCookie!=''">
                `hand_cookie` = #{handCookie} and
            </if>
            <if test="host != null and host!=''">
                `host` = #{host} and
            </if>
            <if test="domain != null and domain!=''">
                `domain` = #{domain} and
            </if>
            <if test="loginButtonXpath != null">
                `login_button_xpath` = #{loginButtonXpath} and
            </if>
            <if test="isEnable != null">
                `is_enable` = #{isEnable} and
            </if>
            <if test="passwordXpath != null and passwordXpath!=''">
                `password_xpath` = #{passwordXpath} and
            </if>
            <if test="usernameXpath != null and usernameXpath!=''">
                `username_xpath` = #{usernameXpath} and
            </if>
            <if test="verifycodeXpath != null and verifycodeXpath!=''">
                `verifycode_xpath` = #{verifycodeXpath} and
            </if>
            <if test="password != null and password!=''">
                `password` = #{password} and
            </if>
            <if test="username != null and username!=''">
                `username` = #{username} and
            </if>
            <if test="verifycodeUrl != null and verifycodeUrl!=''">
                `verifycode_url` = #{verifycodeUrl} and
            </if>
            <if test="targetUrl != null and targetUrl!=''">
                `target_url` = #{targetUrl} and
            </if>
            <if test="nowUrl != null and nowUrl!=''">
                `now_url` = #{nowUrl} and
            </if>
            <if test="loginUrl != null and loginUrl!=''">
                `login_url` = #{loginUrl} and
            </if>
            <if test="verifycodePicXpath != null and verifycodePicXpath!=''">
                `verifycode_pic_xpath` = #{verifycodePicXpath} and
            </if>
        </trim>
        limit 1
    </select>

    <select id="queryAnalogLoginByLinkId" resultMap="AnalogLoginMap">
        select
          sal.*
        from spider_analog_login sal
        LEFT JOIN spider_link_info sli
          ON sal.id = sli.`analog_id`
        WHERE sli.link_id=#{linkId}
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `cookie`,
            `hand_cookie`,
            `host`,
            `domain`,
            `login_button_xpath`,
            `is_enable`,
            `password_xpath`,
            `username_xpath`,
            `verifycode_xpath`,
            `password`,
            `username`,
            `verifycode_url`,
            `target_url`,
            `now_url`,
            `login_url`,
            `verifycode_pic_xpath`,
        </trim>
    </sql>

</mapper>