<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.modules.spider.dao.TemporaryRecordDao">

    <resultMap type="com.spider.modules.spider.entity.TemporaryRecordEntity" id="TemporaryRecordMap">
        <result property="id" column="id"/>
        <result property="link_id" column="linkId"/>
        <result property="url" column="url"/>
        <result property="html" column="html"/>
        <result property="create_time" column="createTime"/>
    </resultMap>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `spider_temporary_record`
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                `id`,
            </if>
            <if test="linkId!=null">
                `link_id`,
            </if>
            <if test="url!=null">
                `url`,
            </if>
            <if test="html!=null">
                `html`,
            </if>
            `create_time`,
            `update_time`,
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="linkId!=null">
                #{linkId},
            </if>
            <if test="url!=null">
                #{url},
            </if>
            <if test="html!=null">
                #{html},
            </if>
            current_timestamp,
            current_timestamp,
        </trim>
        )
    </insert>

    <update id="updateOne">
        UPDATE `spider_temporary_record`
        SET
        <trim suffixOverrides=",">
            <if test="linkId != null and linkId != ''">
                `link_id` = #{linkId},
            </if>
            <if test="url != null and url!=''">
                `url` = #{url},
            </if>
            <if test="html != null and html!=''">
                `html` = #{html},
            </if>
            <if test="createTime != null and createTime!=''">
                `create_time` = #{createTime},
            </if>
            `update_time` = current_timestamp,
        </trim>
        WHERE
        <trim suffixOverrides="and">
            <if test="id != null and id!=''">
                `id` = #{id} and
            </if>
            <if test="linkId != null and linkId != ''">
                `link_id` = #{linkId} and
            </if>
            <if test="url != null and url!=''">
                `url` = #{url} and
            </if>
        </trim>
    </update>
	
	<select id="queryBylinkId" parameterType="java.lang.Integer" resultMap="TemporaryRecordMap">
		SELECT
		<include refid="allResult"></include>
		FROM
			spider_temporary_record
		WHERE
			link_id = #{linkId}
		ORDER BY
			update_time DESC
		LIMIT 1
	</select>

    <select id="selectOne" resultMap="TemporaryRecordMap">
        select
        <include refid="allResult"></include>
        from `spider_temporary_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="linkId != null">
                `link_id` = #{linkId} and
            </if>
            <if test="url != null">
                `url` = #{url} and
            </if>
            <if test="html != null">
                `html` = #{html} and
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime} and
            </if>
        </trim>
        order by update_time limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
            *
        </trim>
    </sql>

</mapper>